.info-window info-header {
	position: center;
	font-size: 18px;
}

.info-window b {
	color: #7b0000;
	font-size: 25px;
}

.info-window location-info {
	font-size: 13px;
	color: black;
}

#location-info {
	margin-top: 15px;
	font-size: 13px;
	color: black;
}

.info-window article {
	padding-top: 15px;
	font-size: 16px;
	font-weight: 0;
	line-height: 1.42857143;
	text-align: left;
	color: #053573;
}

.si-has-border .si-content-wrapper {
    border: 2px solid #111;
    padding: 5px 10px 0px 10px;
    /* margin-top: -30px; */
}

.si-content-wrapper {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    background-color: #fff;
}

.poi-info-window .full-width {
	width: 300px;
	font-family: 'Special Elite', cursive;
	color: #053573;
	font-size: 14px;
}

.poi-info-window .title{
	font-family: 'Special Elite', cursive;
	font-weight: 900;
	color: #7b0000;
	font-size: 25px;
}

.poi-info-window .view-link, .poi-info-window a:visited {
    color: black;
}
