@media screen and (max-height: 800px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

#top-menu {
    background-color: rgba(176, 176, 176, 0);
    border-bottom: 4px solid ##051a4d;
    height: 35px;
    width: 100%;
    position: absolute;
    z-index: 5;
}

.btnMenu {
    padding-left: 40px;
    padding-right: 10px;
    margin-right: 65px;
    display: inline-block;
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    color:black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btnMap {
    padding-left: 10px;
    display: inline-block;
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    text-decoration: none;
    color: rgb(14, 40, 77);
    cursor: pointer;
}

#map {
    overflow: hidden;
    float: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    font-family: 'Lato', sans-serif;
    color: #676858;
    font-weight: 10;
    overflow: hidden;
}

.app-title {
    font-family: 'Special Elite', cursive;
    float: center;
    color: #053573;
    font-size: 30px;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidenav {
    padding-top: 35px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    transition: all 0.5s ease;
}

.sidenavMonitor {
    width: 400px;
    background-color: rgb(0, 23, 38);
    border-color: black;
    /* border-radius: 20px; */
    height: auto;
    position: absolute;
    transition: 0.5s;
}

.sidenavMonitor p {
    padding-left: 10px;
    padding-top: 2px;
    color: #818181;
    font-size: 20px;
    position: initial;
    transition: 2s;
}

#pointInfo {
    width: auto;
    height: auto;
}

#pointInfo p {
    font-size: 20px;
    font-color: #ffffff;
}

.nav-button {
    width: 100%;
    height: 40px;
    margin-top: 25%;
    margin-bottom: 40%;
    padding-top: 25px;
    padding-bottom: 55px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Special Elite', cursive;
    color: #818181;
    background-color: #111;
    border: #111;
    display: list-item;
    transition: 0.3s;
    outline: 0;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    color: #053573;
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}
/* The Modal (background) */
.about-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.about-content {
    background-color: #ffffff;
    margin: auto;
    padding: 5px 15px 5px 5px;
    border: 2px solid #111111;
    width: 50%;
    font-family: 'Special Elite', cursive;
}

/* The Close Button */
.about-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.about-close:hover,
.about-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#Stalingrad_Button, #Volgagrad_Button {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  float: left;
  margin-bottom: 22px;
  text-align: center;
}

#Stalingrad_Button_Text, #Volgagrad_Button_Text {
    color: rgb(25,25,25);
    font-family: 'Special Elite', cursive;
    font-size: 15px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

#Volgagrad_Button {
  margin-left: 12px;
}
